.image-container {
    width: $size-sm;
    height: $size-sm;
    background-size: cover;
    background-position: center center;
}

.grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: $margin-sm;
}

.grid-item {
    margin: $margin-sm;
}