.image-large-item {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    max-width: 85vw;
    max-height: 85vh;
    width: auto;
    height: auto;
}