$color-background: #FCFCFC;
$color-accent: blue;
$color-hover: red;
$font-family: "basic-sans",sans-serif;
$line-height-std: 1.4em;
$margin-sm: 12px;
$margin-me: $margin-sm * 2;
$margin-lg: $margin-sm * 4;
$size-sm: 250px;
$size-h1: 42px;
$size-h2: 34px;
$size-p: 22px;
$size-p-sm: $size-p - 4px;