.archive-grid {
  padding: 15px;
}

.wpgb-facet {
  button.wpgb-load-more.wpgb-loading {
    background: none;
    color: blue;
    margin-top: 20px;
  }
  button.wpgb-load-more {
    background: none;
    color: blue;
    margin-top: 20px;
  }
}
