@media (max-width: 767px) {
  .site {
    padding-bottom: 130px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  .menu-item {
    font-size: 18px;
    margin: 0 8px;
  }

  .grid-item {
    width: calc(50vw - 27px);
    height: calc(50vw - 27px);
  }

  .site-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    left: $margin-sm;
    bottom: $margin-me;
    right: $margin-sm;
  }

  .tag-archive {
    left: $margin-sm;
    top: $margin-me;
    right: $margin-sm;
    text-align: center;
  }

  .description-wrapper,
  .quote-wrapper {
    font-size: 20px;
  }

  .quote-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .image-large-item {
    min-height: 0;
  }
  .image-wrapper {
    margin: $margin-lg;
  }
}

@media (max-width: 519px) {
  .image-wrapper {
    margin: $margin-me;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  html {
    background-color: $color-background-dark;
    color: $color-text-dark;
  }

  a {
    color: $color-accent-dark;
  }

  a:hover {
    color: $color-hover-dark;
  }
}
